/* Estiliza o corpo da página */
body {
  font-family: 'Segoe UI', sans-serif; /* Fonte moderna */
  background: linear-gradient(to right, #e0f7fa, #00000060); /* Gradiente azul-claro para roxo */
  text-align: center; /* Centraliza tudo */
  padding: 30px;
  margin: 0;
  background-image:url('https://cdn2.unrealengine.com/egs-grandtheftautovicecitythedefinitiveedition-rockstargames-g1a-00-1920x1080-a93053f8548a.jpg');
}
@keyframes tituloColorido {
  0%   { color: #ffffff; }
  25%  { color: #00f7ce; }
  50%  { color: #ff4081; }
  75%  { color: #ffeb3b; }
  100% { color: #ffffff; }
}

h1 {
  animation: tituloColorido 5s infinite ease-in-out;

  margin-bottom: 40px;
  font-size: 2em;
}

/* Container que posiciona os cards lado a lado */
.card-container {
  display: flex;
  flex-wrap: wrap;           /* Permite quebrar linha em telas pequenas */
  justify-content: center;   /* Centraliza os cards */
  gap: 40px;                 /* Espaço entre os cards */
}

/* Estilo base para cada card */
.card {
  background-color: white;
  border-radius: 15px;         /* Bordas arredondadas */
  width: 250px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(253, 253, 253, 0.1); /* Sombra suave */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animações suaves */
}

.card:hover {
  transform: translateY(-10px); /* Move o card para cima */
  box-shadow: 0 15px 30px rgba(0, 225, 255, 0.733); /* Aumenta a sombra */
}

/* Card de Soft Skills: azul */
.card.soft {
  border-top: 6px solid #075718; /* Azul */
}

/* Card de Hard Skills: roxo */
.card.hard {
  border-top: 6px solid #000000; /* Roxo */
}

/* Título dentro do card */
.card h2 {
  color: #444;
  margin-bottom: 20px;
}

/* Estilização dos botões */
button {
  background: linear-gradient(to right, #00f7ce, #000000); /* Gradiente azul-roxo */
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1em;
  cursor: pointer;
 
}

/* Efeito ao passar o mouse no botão */
button:hover {
  background: linear-gradient(to right, #00f7ce, #000000);
}

/* Estilo das áreas de pergunta e resposta */
#pergunta, #resposta {
  margin-top: 40px;
  font-size: 1.2em;
  color: #333;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 15px;
  border-radius: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}